<form action="/tasks" method="post">
  <p>Enter a new task:</p>
  <input class='form-control' type='text' name='task[title]'/><br/>
  <textarea class='form-control' name='task[description]'></textarea><br/>
  <input class='btn btn-success' id='submit' type='submit'/>
</form>
